.customer-overview-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color);
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.header h2 {
  margin: 0;
  color: var(--secondary-color);
  font-weight: 700;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.header input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 16px;
}

.no-data-container {
  text-align: center;
  padding: 50px;
}

.no-data-text {
  font-size: 18px;
  color: var(--tertiary-color);
}

.customer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--background-color);
  border: 1px solid var(--highlight-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.customer-item.pending {
  animation: pending-glow 1.5s infinite;
  box-shadow: 0 0 10px rgba(var(--warning-color), 0.6);
}

.customer-item.fiado {
  animation: fiado-glow 1.5s infinite;
  box-shadow: 0 0 10px rgba(var(--accent-color), 0.6);
}

@keyframes pending-glow {
  0% {
    box-shadow: 0 0 10px rgba(var(--warning-color-rgb), 0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(var(--warning-color-rgb), 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(var(--warning-color-rgb), 0.6);
  }
}

@keyframes fiado-glow {
  0% {
    box-shadow: 0 0 10px rgba(var(--accent-color-rgb), 0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(var(--accent-color-rgb), 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(var(--accent-color-rgb), 0.6);
  }
}

.customer-item:hover {
  transform: scale(1.02);
}

.koala-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.customer-info {
  flex-grow: 1;
  max-width: 50%;
}

.customer-info h3 {
  margin: 0 0 5px;
}

.customer-info p {
  margin: 2px 0;
}

.days-remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.days-number {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 4px;
}

.action-button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.pagination-controls span {
  line-height: 1.5; /* Ajusta el valor para centrar verticalmente */
  margin-top: 0; /* Asegúrate de que no haya margen superior que desplace el texto */
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
}


.pagination-controls {
  display: flex;
  justify-content: flex-end; /* Alinea a la derecha */
  margin-bottom: 20px;
  gap: 5px;
}

.pagination-controls button {
  padding: 8px 12px;
  min-width: 40px; /* Define un ancho mínimo para los botones */
  max-width: 80px; /* Define un ancho máximo para los botones */
  width: auto; /* Permite que el ancho se ajuste al contenido */
  flex: none; /* Evita que los botones se expandan para llenar el espacio */
}
.pagination-controls button:disabled {
  background-color: var(--tertiary-color);
  color: var(--neutral-color);
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.customer-item input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--highlight-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.3s, border-color 0.3s;
}

.customer-item input[type="checkbox"]:checked {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.select-all-container input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--highlight-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

.select-all-container input[type="checkbox"]:checked {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.customer-item.selected {
  background-color: var(--background-color);
  border: 1px solid var(--neutral-color);
}

.select-all-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fab {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
  border: none;
}

.fab:hover {
  background-color: var(--secondary-color);
}

.fab-menu {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: auto;
}

.fab-item {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left;
}

.fab-item:hover {
  background-color: var(--secondary-color);
}

.fab-item i {
  margin-right: 8px;
}

/* Responsive ajustado */
@media (max-width: 812px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .header-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .header-actions input {
    width: calc(100% - 60px); /* Ajusta el ancho para dejar espacio a los botones */
    margin-right: 10px;
  }

  .header-actions button {
    flex-grow: 1;
    margin-left: 10px;
    padding: 10px;
  }

  .pagination-controls {
    justify-content: center; /* Centra en pantallas pequeñas */
  }

  .pagination-controls button {
    padding: 8px 12px;
  }

  .customer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .customer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: var(--background-color);
    border: 1px solid var(--highlight-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .customer-info {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
  }

  .days-remaining {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  .action-button {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
}

