<div class="customer-overview-container">
  <div class="header">
    <h2>Clientes</h2>
    <div class="header-actions">
      <input type="text" placeholder="Buscar..." (input)="filter($event)">
      <button class="action-button" (click)="toggleSelectionMode()">
        {{ selectionMode ? 'Cancelar Selección' : 'Seleccionar' }}
      </button>
      <button *ngIf="selectedCustomers.length > 0" class="action-button" (click)="eliminarSeleccionados()">
        Eliminar Seleccionados
      </button>
      <button class="action-button" (click)="addCustomer()">Añadir</button>
      <button class="action-button" (click)="exportToExcel()">
        <i class="fas fa-file-excel"></i> Exportar
      </button>
    </div>
  </div>

  <div *ngIf="totalItems > 0" class="pagination-controls">
    <button class="action-button" (click)="previousPage()" [disabled]="currentPage === 1">&lt;</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="action-button" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems">&gt;</button>
  </div>

  <div *ngIf="totalItems === 0" class="no-data-container">
    <img src="assets/koala-triste.png" alt="No Data" class="no-data-image">
    <p class="no-data-text">No hay nada registrado</p>
  </div>

  <div *ngIf="totalItems > 0" class="customer-list">
    <div *ngIf="selectionMode" class="select-all-container">
      <input type="checkbox" [checked]="areAllSelected()" (change)="toggleSelectAll($event)">
      <span>Seleccionar todos</span>
    </div>
    <div class="customer-item" *ngFor="let customer of paginatedData" [ngClass]="{'pending': customer.estado === 'pendiente', 'fiado': customer.estado === 'fiado', 'selected': customer.selected}">
      <input *ngIf="selectionMode" type="checkbox" [(ngModel)]="customer.selected" (change)="updateSelectedCustomers()">
      <img src="assets/usuariocliente.png" alt="Koala" class="koala-image">
      <div class="customer-info">
        <h3>{{ customer.name }}</h3>
        <p>Servicio: {{ customer.services.service }}</p>
        <p>Inicio: {{ customer.fechainicio | date : 'dd/MM/yyyy' }}</p>
        <p>Vencimiento: {{ customer.fechafin | date : 'dd/MM/yyyy' }}</p>
        <p>Estado: <span [style.color]="getEstadoColor(customer)">{{ customer.estado }}</span></p>
      </div>
      <button class="action-button" (click)="viewDetails(customer.idcs)">Ver detalles</button>
      <button class="action-button" *ngIf="role === 'ADMIN' || role === 'USER'" (click)="cambiarEstado(customer)"><i class="fas fa-sync-alt"></i> Renovar</button>
    </div>
  </div>
</div>
