<app-toolbar></app-toolbar>
<div class="container" *ngIf="cliente">
  <br>
  <h2>{{ cliente.name }}</h2>
  <div class="profile-details">
    <p><strong>Correo:</strong> {{ cliente.perfil.correo }}</p>
    <p><strong>Servicio:</strong> {{ cliente.services.service }}</p>
    <p><strong>Fecha de Inicio:</strong> {{ cliente.fechainicio | date : "dd/MM/yyyy" }}</p>
    <p><strong>Fecha de Vencimiento:</strong> {{ cliente.fechafin | date : "dd/MM/yyyy" }}</p>
    <p><strong>Estado:</strong> {{ cliente.estado }}</p>
    <p><strong>Socio:</strong> {{ cliente.socio.name }}</p>
  </div>
</div>
