<div class="listar-container-overlay" [class.sombreado]="mostrarFormularioRegistro">
  <div class="listar-container" *ngIf="verificar()">
    <br>
    <h2 style="text-align: center;">Lista de servicios</h2>
    <div class="header-actions">
      <div class="search-container">
        <i class="fas fa-search search-icon"></i>
        <input (keyup)="filter($event)" placeholder="Buscar" class="input-busqueda">
      </div>
      <div class="paginator-actions">
        <span>Mostrar:</span>
        <select (change)="changePageSize($event)" class="custom-select">
          <option *ngFor="let size of [5, 10, 25, 100]" [value]="size">{{size}}</option>
        </select>
        <button *ngIf="role=='ADMIN' || role=='USER'" class="mi-boton" (click)="mostrarFormulario()">
          <i class="fas fa-plus"></i> Añadir
        </button>
      </div>
    </div>
    <br>
    <div class="table-container table-responsive">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Servicio</th>
            <th>Descripción</th>
            <th *ngIf="role === 'ADMIN' || role === 'USER'">Ver Perfiles</th>
            <th *ngIf="role === 'ADMIN' || role === 'USER'">Editar</th>
            <th *ngIf="role === 'ADMIN' || role === 'USER'">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of paginatedData; let i = index">
            <td>{{ element.service }}</td>
            <td>{{ element.description }}</td>
            <td *ngIf="role === 'ADMIN' || role === 'USER'">
              <button [routerLink]="['/components/servicios', element.serviceId, 'perfilesservice']" class="custom-button">
                <i class="fas fa-eye"></i>
              </button>
            </td>
            <td *ngIf="role === 'ADMIN' || role === 'USER'">
              <button (click)="editarServicio(element.serviceId)" class="custom-button">
                <mat-icon>create</mat-icon>
              </button>
            </td>
            <td *ngIf="role === 'ADMIN' || role === 'USER'">
              <button (click)="eliminar(element.serviceId)" class="custom-delete-button">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }}</span>
      <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems">Siguiente</button>
    </div>
  </div>
  <br><br>

  <div *ngIf="mostrarFormularioRegistro" class="formulario-overlay">
    <app-creacion-servicio [id]="idEdicion" (cerrarFormulario)="cerrarFormulario()"></app-creacion-servicio>
  </div>
</div>
