<div class="back-button-container">
  <button (click)="goBack()" class="back-button">Volver atrás</button>
</div>
<div class="comprobantes-container">
  <h2 class="fixed-title">Lista de Comprobantes</h2>
  <div class="tools">
    <div class="filters-container">
      <input 
        type="text" 
        placeholder="Buscar por título..." 
        [(ngModel)]="filterTitle"
        (input)="applyFilters()"
        class="filter-input"
      />
      <input 
        type="date" 
        [(ngModel)]="filterDate"
        (input)="applyFilters()"
        class="filter-input"
      />
      <button (click)="clearFilters()" class="clear-filters-button">Limpiar</button>
    </div>
  </div>
    
  <div class="comprobantes-content">
    <div *ngIf="filteredMessages && filteredMessages.length > 0; else noDataTemplate">
      <div *ngFor="let message of filteredMessages" class="comprobante-item">
        <div class="comprobante-details">
          <h3>{{ message.title }}</h3>
          <p>Subido el: {{ message.createdAt | date:'medium' }}</p>
          <p>
            Estado: 
            <span [style.color]="getStatusColor(message.status)">{{ getStatusLabel(message.status) }}</span>
          </p> 
        </div>
        <div class="comprobante-img-container">
          <div class="img-overlay">
            <img [src]="getBase64Image(message.fileData)" alt="Comprobante de Pago" class="comprobante-img">
            <div class="overlay-text" (click)="openModal(getBase64Image(message.fileData))">Ver Imagen</div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noDataTemplate>
      <div class="no-data">
        <p>No hay datos disponibles.</p>
      </div>
    </ng-template>
  </div>
  

  <div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
    <span class="close" (click)="closeModal()">&times;</span>
    <img class="modal-content" [src]="modalImageSrc">
  </div>
</div>
