.comprobantes-container {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 12px;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.fixed-title {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 10px 20px;
  margin: 0 -20px 20px -20px;
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
}

.comprobantes-content {
  padding-top: 10px;
}

.comprobante-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.comprobante-item:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.comprobante-details {
  flex: 1;
  margin-right: 20px;
}

.comprobante-details h3 {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 5px;
}

.comprobante-details p {
  color: var(--secondary-color);
  font-size: 14px;
  margin-bottom: 0;
}

.comprobante-img-container {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  position: relative;
}

.img-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.comprobante-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.img-overlay:hover .comprobante-img {
  filter: brightness(0.7);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background-color);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-overlay:hover .overlay-text {
  opacity: 1;
}

.no-data {
  text-align: center;
  color: var(--secondary-color);
  font-size: 16px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.modal-content {
  max-width: 40%;
  max-height: auto;
  border-radius: 12px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
  object-fit: contain;
  border: 5px solid var(--background-color);
  background-color: var(--background-color);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--background-color);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 101;
}

.close:hover,
.close:focus {
  color: var(--warning-color);
  text-decoration: none;
  cursor: pointer;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-input {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 16px;
  width: calc(50% - 10px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.clear-filters-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.clear-filters-button:hover {
  background-color: var(--highlight-color);
}

.back-button-container {
  margin-bottom: 20px;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
  background-color: var(--highlight-color);
}
