@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background: linear-gradient(135deg, #1f2e3d, #2980b9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px; /* Incrementar el tamaño máximo del contenedor */
  padding: 20px;
}

.form-card {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  width: 100%;
  padding: 40px; /* Incrementar el padding para mayor espacio */
  display: flex;
  flex-direction: row; /* Alineación horizontal para PC */
  justify-content: space-between;
  align-items: center;
  height: 500px; /* Incrementar la altura del contenedor */
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.logo {
  max-width: 250px; /* Incrementar el tamaño del logo */
  height: auto;
  margin-bottom: 20px;
}

.description {
  font-size: 1.4em; /* Incrementar el tamaño del texto de la descripción */
  color: #2c3e50;
  text-align: center;
  font-family: 'Agakê Shadow', sans-serif;
}

.right-section {
  width: 50%;
  padding: 20px;
}

h1 {
  font-size: 2em; /* Incrementar el tamaño del título */
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: rgba(236, 240, 241, 0.5);
  border-radius: 8px;
  padding: 15px; /* Incrementar el padding de los inputs */
}

.input-container mat-icon {
  color: #34495e;
  margin-right: 10px;
}

input[type="text"], input[type="password"] {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #34495e;
  font-size: 1.2rem; /* Incrementar el tamaño del texto de los inputs */
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #34495e;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.mi-boton {
  background-color: #2980b9;
  color: white;
  padding: 15px 30px; /* Incrementar el tamaño del botón */
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  font-size: 1.2rem; /* Incrementar el tamaño del texto del botón */
}

.mi-boton:hover {
  background-color: #1f2e3d;
  transform: scale(1.05);
}

.hover-effect {
  font-weight: bold;
  color: #2980b9;
  transition: color 0.2s;
}

.hover-effect:hover {
  color: #1f2e3d;
  cursor: pointer;
}

@media (max-width: 768px) {
  .login-container {
    width: 90%;
    padding: 10px;
  }

  .form-card {
    flex-direction: column; /* Alineación vertical para responsive */
    padding: 20px;
    height: auto; /* Altura automática para ajustarse al contenido */
  }

  .left-section, .right-section {
    width: 100%;
  }

  .description {
    display: none; /* Esconder el texto en modo responsive */
  }

  .logo {
    margin-bottom: 1px;
    max-width: 180px;
  }

  h1 {
    font-size: 1.6em;
  }

  .input-container {
    padding: 10px;
  }

  .mi-boton {
    width: 100%;
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;
  }

  .logo {
    max-width: 150px;
  }

  .description {
    display: none; /* Esconder el texto en modo responsive */
  }

  h1 {
    font-size: 1.4em;
  }

  .input-container {
    padding: 8px;
  }

  .mi-boton {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
