@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background: linear-gradient(135deg, #2C3E50, #4CA1AF);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-card {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  position: relative;
  max-width: 400px;
  width: 100%;
}

.avatar-container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.avatar {
  max-width: 90%;
  max-height: 90%;
  border-radius: 50%;
}

h1 {
  margin-top: 80px;
  font-size: 2em;
  font-weight: 700;
  color: #34495E;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: rgba(236, 240, 241, 0.5);
  border-radius: 8px;
  padding: 10px;
}

.input-container mat-icon {
  color: #34495E;
}

input[type="text"], input[type="password"] {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #34495E;
  font-size: 1rem;
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.mi-boton {
  background-color: #2980B9;
  color: white;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.mi-boton:hover {
  background-color: #1A5276;
  transform: scale(1.05);
}

.hover-effect {
  font-weight: bold;
  color: #2980B9;
  transition: color 0.2s;
}

.hover-effect:hover {
  color: #1A5276;
  cursor: pointer;
}
