.customer-detail-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #2c3e50;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #2980b9;
  margin-bottom: 10px;
}

.back-button .material-icons {
  font-size: 24px;
  margin-right: 8px;
}

.header h2 {
  margin: 0;
  flex: 1;
  text-align: center;
}

.header-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.customer-overview {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.customer-photo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.customer-info h3 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.customer-info p {
  margin: 5px 0;
  color: #7f8c8d;
  text-align: center;
}

.details {
  margin-top: 20px;
}

.details-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.details-label {
  font-weight: bold;
  color: #2c3e50;
}

.details-value {
  color: #34495e;
}

.action-button {
  background-color: transparent;
  border: 1px solid #2980b9;
  color: #2980b9;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
  background-color: #2980b9;
  color: white;
}

.no-data-container {
  text-align: center;
  padding: 50px;
  color: #7f8c8d;
}

.action-button {
  background-color: transparent;
  border: 1px solid #2980b9;
  color: #2980b9;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
  background-color: #2980b9;
  color: white;
}

.section-message-and-preview{
  display: flex;
  gap: 15px;
}

.message-selection {
  margin-top: 20px;
}

.message-selection h3 {
  margin-bottom: 10px;
}

.message-selection select {
  width: 100%;
  padding: 10px;
  border: 1px solid #2980b9;
  border-radius: 4px;
  font-size: 16px;
  color: #2c3e50;
  background-color: #fff;
  transition: border-color 0.3s;
}

.message-selection select:focus {
  border-color: #2980b9;
  outline: none;
}

.message-preview {
  margin-top: 20px;
}

.message-preview textarea {
  border-radius: 15px;
  border: 2px solid #2980b9;
  padding: 10px;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  resize: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow-y: scroll;
}

.message-preview textarea:focus {
  border-color: #2980b9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  outline: none;
}

.message-preview textarea::-webkit-scrollbar {
  width: 8px;
}

.message-preview textarea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.message-preview textarea::-webkit-scrollbar-thumb {
  background: #2980b9;
  border-radius: 10px;
  border: 2px solid #f9f9f9;
}

.message-preview textarea::-webkit-scrollbar-thumb:hover {
  background: #1d6fa5;
}

.message-preview h3 {
  margin-bottom: 10px;
}

.message-preview p {
  white-space: pre-line;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.action-button {
  background-color: transparent;
  border: 1px solid #2980b9;
  color: #2980b9;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.action-button:hover {
  background-color: #2980b9;
  color: white;
}

.cancel-button {
  border-color: #e74c3c;
  color: #e74c3c;
}

.cancel-button:hover {
  background-color: #e74c3c;
  color: white;
}

@media (max-width: 768px) {
  .header h2 {
    font-size: 18px;
  }

  .header-actions {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .customer-overview {
    flex-direction: column;
  }

  .customer-photo img {
    margin: 0 auto 20px;
  }

  .details-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .section-message-and-preview {
    display: flex;
    flex-direction: column;
  }

  .button-messagge {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
