<div class="customer-detail-container">
  <div class="header">
    <h2>Detalles del Cliente</h2>
    <div class="header-actions" *ngIf="customer">
      <button class="action-button" (click)="editarClienteServicio(customer.idcs)">Editar</button>
      <button class="action-button" (click)="cambiarEstado(customer)"><i class="fas fa-sync-alt"></i> Renovar</button>
      <button class="action-button" (click)="eliminarCliente(customer.idcs)">Eliminar</button>
    </div>
  </div>

  <div *ngIf="customer">
    <div class="customer-overview">
      <div class="customer-photo">
        <img src="assets/koalacliente2.png" alt="{{ customer.name }}" />
      </div>
      <div class="customer-info">
        <h3>{{ customer.name }}</h3>
        <p>{{ customer.perfil.correo }}</p>
      </div>
    </div>

    <div class="details">
      <div class="details-row">
        <span class="details-label">Tipo de servicio:</span>
        <span class="details-value">{{ customer.services.service }}</span>
      </div>
      <div class="details-row">
        <span class="details-label">Fecha de Inicio:</span>
        <span class="details-value">{{ customer.fechainicio | date : 'dd/MM/yyyy' }}</span>
      </div>
      <div class="details-row">
        <span class="details-label">Fecha de Vencimiento:</span>
        <span class="details-value">{{ customer.fechafin | date : 'dd/MM/yyyy' }}</span>
      </div>
      <div class="details-row">
        <span class="details-label">Estado:</span>
        <span class="details-value">{{ customer.estado }}</span>
      </div>
      <div class="details-row">
        <span class="details-label">Socio:</span>
        <span class="details-value">{{ customer.socio.name }}</span>
      </div>
      <div class="details-row">
        <span class="details-label">Número de Celular:</span>
        <span class="details-value">{{ customer.numerocelular }}</span>
      </div>
    </div>

    <div class="section-message-and-preview">
      <div class="message-selection">
        <h3>Selecciona un mensaje para enviar</h3>
        <select (change)="selectMessage($event)">
          <option value="" disabled selected>-- Selecciona un mensaje --</option>
          <option *ngFor="let message of availableMessages" [value]="message.id">
            {{ message.label }}
          </option>
        </select>
      </div>
    
      <div class="message-preview" *ngIf="selectedMessage">
        <h3>Vista previa del mensaje</h3>
        <textarea [(ngModel)]="selectedMessage" rows="6" cols="50" style="resize: none;"></textarea>
        <div class="button-messagge" style="display: flex; gap: 10px;">
          <a *ngIf="customer.numerocelular" [href]="getWhatsAppUrl(customer.numerocelular)" target="_blank" class="action-button">
            Enviar WhatsApp
          </a>
          <button (click)="copyMessage()" class="action-button">Copiar Mensaje</button>
          <button (click)="cancelMessage()" class="action-button cancel-button">Cancelar</button>
        </div>
      </div>      
    </div>    
  </div>

  <div *ngIf="!customer" class="no-data-container">
    <p>No hay detalles del cliente disponibles.</p>
  </div>
</div>
