<app-toolbar></app-toolbar>
<div class="container">
  <div class="left-column">
    <img src="assets/icono-usuario.png" alt="Avatar">
    <div class="welcome-text">Bienvenido, {{ user.name }}!</div>
    <div class="button-container">
      <button class="button" routerLink="/components/servicios">
        <mat-icon>add</mat-icon> Agregar plataformas
      </button>
      <button class="button" routerLink="/components/custser">
        <mat-icon>group</mat-icon> Ver clientes
      </button>
      <button class="button" routerLink="/components/socios">
        <mat-icon>people_outline</mat-icon> Ver socios
      </button>
      <button class="button" routerLink="/components/perfil">
        <mat-icon>people_outline</mat-icon> Ver perfiles
      </button>
      <button class="button" routerLink="/components/proveedor">
        <mat-icon>people_outline</mat-icon> Ver proveedores
      </button>
    </div>
  </div>
  <div class="right-column">
    <div class="statistics-container">
      <div class="stat-card" routerLink="/components/custser">
        <div class="stat-text">
          <h2>{{ totalUsuarios }}</h2>
          <p>Total de usuarios</p>
        </div>
        <i class="fas fa-users stat-icon"></i>
      </div>
      <div class="stat-card">
        <div class="stat-text">
          <h2>{{ totalDeudores }}</h2>
          <p>Usuarios deudores</p>
        </div>
        <i class="fas fa-user-times stat-icon"></i>
      </div>
    </div>
    <div class="accordion-container">
      <h3>Clientes con Estado Pendiente</h3>
      <mat-accordion *ngIf="paginatedClientes.length > 0">
        <mat-expansion-panel *ngFor="let cliente of paginatedClientes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ cliente.name }} - Deudor
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <p><strong>Fecha de Inicio:</strong> {{ cliente.fechainicio | date: 'dd/MM/yyyy' }}</p>
            <p><strong>Fecha de Pago:</strong> {{ cliente.fechafin | date: 'dd/MM/yyyy' }}</p>
            <p><strong>Tipo de Servicio:</strong> {{ cliente.services.service }}</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div *ngIf="clientesPendientes.length > itemsPerPage" class="pagination-controls">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }}</span>
        <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= clientesPendientes.length">Siguiente</button>
      </div>
      <p *ngIf="clientesPendientes.length === 0">No hay clientes con estado pendiente.</p>
    </div>
  </div>
</div>
