body {
  font-family: 'Arial', sans-serif;
  background-color: var(--neutral-color);
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  width: 100%;
}

.content.collapsed-content {
  margin-left: 0;
}

.header {
  background-color: var(--background-color);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
}

.header h1 {
  margin: 0;
  color: var(--secondary-color);
  font-weight: 700;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.widgets-section, .clients-section {
  flex: 1;
  background-color: var(--background-color);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.report-card {
  background-color: var(--background-color);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.report-card:hover {
  transform: translateY(-5px);
}

.report-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.report-icon {
  font-size: 40px;
  color: var(--primary-color);
  margin-right: 5px;
}

.report-header h2 {
  font-size: 40px;
}

.report-card h2 {
  font-size: 40px;
  margin: 0;
  color: var(--text-color);
  font-weight: 700;
}

.report-card p {
  margin: 10px 0 0;
  font-size: 24px;
  color: var(--tertiary-color);
  font-weight: 500;
  text-align: center;
}

.report-card h3 {
  font-size: 15px;
  margin: 0;
  color: var(--text-color);
  font-weight: 700;
}

.report-image {
  max-width: 40px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

.widgets-section, .no-clientes p {
  margin: 10px 0 0;
  font-size: 18px;
  color: var(--tertiary-color);
  font-weight: 500;
  text-align: center;
}

.progress-bar-container {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--background-color);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  background-color: var(--neutral-color);
  border-radius: 10px;
  height: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.progress {
  background-color: var(--primary-color);
  height: 100%;
  width: 0;
  transition: width 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--text-color);
  font-weight: bold;
  margin-top: 10px;
}

.progress-info {
  margin-top: 10px;
  font-size: 16px;
  color: var(--text-color);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 12px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: var(--secondary-color);
}

.pagination-controls button[disabled] {
  background-color: var(--tertiary-color);
  cursor: not-allowed;
}

.accordion-card {
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.accordion-card:hover {
  transform: translateY(-5px);
}

.accordion-card p {
  font-size: 15px;
  color: var(--text-color);
}

.accordion-card h1 {
  font-weight: bold;
  color: var(--tertiary-color);
}

.ver-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ver-button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}


@media screen and (max-width: 1251px) {
  .dashboard {
    flex-direction: column;
  }

  .top-section {
    flex-direction: column;
  }

  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
  }

  .sidebar p {
    font-size: 90%;
  }

  .sidebar ul {
    padding-left: 10px;
  }

  .dashboard {
    flex-direction: column;
  }

  .top-section,
  .dashboard-grid,
  .clients-section {
    width: 100%;
    margin-top: 20px;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }

  .content {
    margin-left: 0;
  }

  .sidebar-toggle {
    left: 280px;
    transition: left 0.3s ease;
  }

  .sidebar.collapsed + .sidebar-toggle {
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 1.5em;
  }

  .report-card {
    padding: 15px;
  }

  .report-card h2 {
    font-size: 1.5em;
  }

  .report-icon {
    font-size: 28px;
  }

  .report-card p {
    font-size: 18px;
  }

  .progress-bar {
    height: 15px;
  }

  .progress-label {
    font-size: 18px;
  }

  .sidebar {
    width: 80%;
  }

  .sidebar-toggle {
    left: 80%;
    transition: left 0.3s ease;
  }

  .sidebar.collapsed + .sidebar-toggle {
    left: 0;
  }

  .content {
    width: calc(100% - 200px);
  }

  .content.collapsed-content {
    width: 100%;
  }
}

.widgets-section h2, .clients-section h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

canvas {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 100%;
  height: auto;
}

canvas:hover {
  cursor: pointer;
}
