.perfiles-overview-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color);
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.header h2 {
  margin: 0;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.search-input {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 16px;
}

.volver-boton {
  background-color: transparent;
  border: none;
  color: var(--highlight-color);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.volver-icon {
  font-size: 20px;
  margin-right: 5px;
}

.añadir-boton {
  background-color: transparent;
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.añadir-icon {
  font-size: 20px;
  margin-right: 5px;
}

.no-data-container {
  text-align: center;
  margin-top: 50px;
}

.no-data-image {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.profile-list-container {
  flex: 1;
}

.profile-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--background-color);
  border: 1px solid var(--highlight-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.profile-item:hover {
  transform: scale(1.02);
}

.profile-info {
  flex-grow: 1;
}

.profile-info h3 {
  margin: 0 0 5px;
}

.profile-info p {
  margin: 2px 0;
}

.profile-actions {
  display: flex;
  gap: 10px;
}

.action-button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.pagination-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.pagination-controls span {
  font-size: 16px;
  margin: 0 10px;
}

.pagination-controls button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-controls button:disabled {
  background-color: var(--tertiary-color);
  color: var(--neutral-color);
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: var(--background-color);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .search-input {
    width: 100%;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .pagination-controls {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .profile-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }

  .profile-info h3,
  .profile-info p {
    margin: 0;
    font-size: 14px;
  }

  .action-button {
    width: 100%;
    margin-top: 10px;
    padding: 8px 10px;
    font-size: 14px;
  }

  .header-actions {
    width: 100%;
    justify-content: space-between;
  }

  .volver-boton, .añadir-boton {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
}
