<div class="sidenav" id="sidenav">
    <div class="logo">Gestioname</div>
    <div class="sidenav-container">
      <a (click)="setActive('home')" routerLink="/components/home" [class.active]="active === 'home'">
        <span class="material-icons icon">home</span>
        <span class="text">Inicio</span>
    </a>
    <a (click)="setActive('clientes')" routerLink="/components/custser" [class.active]="active === 'clientes'">
        <span class="material-icons icon">people</span>
        <span class="text">Clientes</span>
    </a>
    <a (click)="setActive('socios')" routerLink="/components/socios" [class.active]="active === 'socios'">
        <span class="material-icons icon">handshake</span>
        <span class="text">Socios y proveedores</span>
    </a>
    <a (click)="setActive('servicios')" routerLink="/components/servicios" [class.active]="active === 'servicios'">
        <span class="material-icons icon">subscriptions</span>
        <span class="text">Servicios</span>
    </a>
    <a (click)="setActive('pages')" routerLink="/components/perfil" [class.active]="active === 'pages'">
        <span class="material-icons icon">email</span>
        <span class="text">Perfiles</span>
    </a>
    </div>
  </div>
  
  <div class="main-content" id="main-content" (click)="handleClickOutside($event)">
    <router-outlet></router-outlet>
  </div>
  