<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de registros</title>
</head>
<body>
  <div class="container" *ngIf="verificar()">
    <br>
    <h2 style="text-align: center;">Lista de registros</h2>
    <div class="header-actions">
      <div class="search-container">
        <span class="search-icon"><mat-icon>search</mat-icon></span>
        <input matInput (keyup)="filter($event)" placeholder="Buscar" class="input-busqueda">
      </div>
      <div class="paginator-actions">
        <span class="items-per-page">Mostrar paginas:</span>
        <select (change)="changePageSize($event)" class="custom-select">
          <option *ngFor="let size of [5, 10, 25, 100]" [value]="size">{{ size }}</option>
        </select>
      </div>
      <div class="button-actions">
        <button *ngIf="role=='ADMIN' || role=='USER'" class="mi-boton" routerLink="/components/custser/nuevo">
          <mat-icon>add</mat-icon> Añadir
        </button>
        <button (click)="exportToExcel()" class="mi-boton">
          <mat-icon>file_download</mat-icon> Exportar a Excel
        </button>
      </div>
    </div>
    <br>
    <table class="custom-table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Cliente</th>
          <th>Tipo de servicio</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de pagos</th>
          <th>Estado de la cuenta</th>
          <th>Socio</th>
          <th>Cambiar</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of paginatedData" [ngClass]="getRowClass(element)">
          <td>{{ element.idcs }}</td>
          <td>{{ element.name }}</td>
          <td>{{ element.services.service }}</td>
          <td>{{ element.fechainicio | date : "dd/MM/yyyy" }}</td>
          <td>{{ element.fechafin | date : "dd/MM/yyyy" }}</td>
          <td [ngClass]="getEstadoClass(element)">{{ element.estado }}</td>
          <td>{{ element.socio.name }}</td>
          <td>
            <button (click)="cambiarEstado(element)" class="custom-button rounded-button renew-button">
              <mat-icon>update</mat-icon>
            </button>
          </td>
          <td>
            <button [routerLink]="['ediciones', element.idcs]" class="custom-button rounded-button">
              <mat-icon class="custom-icon">create</mat-icon>
            </button>
          </td>
          <td>
            <button (click)="eliminar(element.idcs)" class="custom-delete-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }}</span>
      <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems">Siguiente</button>
    </div>
  </div>
</body>
</html>
