<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de registros</title>
</head>
<body>
  <div class="listar-container-overlay" [class.sombreado]="mostrarFormularioRegistro">
    <div class="container" *ngIf="verificar()">
      <br>
      <h2 style="text-align: center;">Lista de registros</h2>
      <div class="header-actions">
        <div class="search-container">
          <span class="search-icon"><mat-icon>search</mat-icon></span>
          <input matInput (keyup)="filter($event)" placeholder="Buscar" class="input-busqueda">
        </div>
        <div class="paginator-actions">
          <span class="items-per-page">Mostrar paginas:</span>
          <select (change)="changePageSize($event)" class="custom-select">
            <option *ngFor="let size of [5, 10, 25, 100]" [value]="size">{{ size }}</option>
          </select>
        </div>
        <div class="button-actions">
          <button *ngIf="role=='ADMIN' || role=='USER'" class="mi-boton" (click)="mostrarFormulario()">
            <mat-icon>add</mat-icon> Añadir
          </button>
          <button (click)="exportToExcel()" class="mi-boton">
            <mat-icon>file_download</mat-icon> Exportar
          </button>
        </div>
      </div>
      <br>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Tipo de servicio</th>
            <th>Perfil</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Vencimiento</th>
            <th>Estado</th>
            <th>Socio</th>
            <th>Número de Celular</th> <!-- Nueva columna -->
            <th>Renovar</th>
            <th *ngIf="role=='ADMIN' || role=='USER'">Editar</th>
            <th *ngIf="role=='ADMIN' || role=='USER'">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of paginatedData" [style.background-color]="getRowColor(element)">
            <td>{{ element.name }}</td>
            <td>{{ element.services.service }}</td>
            <td>{{ element.perfil.correo }}</td>
            <td>{{ element.fechainicio | date : 'dd/MM/yyyy' }}</td>
            <td>{{ element.fechafin | date : 'dd/MM/yyyy' }}</td>
            <td [style.color]="getEstadoColor(element)">{{ element.estado }}</td>
            <td>{{ element.socio.name }}</td>
            <td>{{ element.numerocelular }}</td> <!-- Mostrar número de celular -->
            <td *ngIf="role === 'ADMIN' || role === 'USER'">
              <button (click)="cambiarEstado(element)" class="custom-button rounded-button renew-button">
                <mat-icon>update</mat-icon>
              </button>
            </td>
            <td *ngIf="role === 'ADMIN' || role === 'USER'">
              <button (click)="editarClienteServicio(element.idcs)" class="custom-button rounded-button">
                <mat-icon class="custom-icon">create</mat-icon>
              </button>
            </td>
            <td *ngIf="role === 'ADMIN' || role === 'USER'">
              <button (click)="eliminar(element.idcs)" class="custom-delete-button">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }}</span>
        <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems">Siguiente</button>
      </div>
    </div>
    <div *ngIf="mostrarFormularioRegistro" class="formulario-overlay">
      <app-creacion-cs [id]="idEdicion" (cerrarFormulario)="cerrarFormulario()"></app-creacion-cs>
    </div>
  </div>
</body>
</html>
