<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista de registros</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="container">
    <h2 class="header">Lista de registros</h2>
    <div class="toolbar">
      <input matInput (keyup)="filter($event)" placeholder="Buscar" class="input-busqueda">
      <button *ngIf="role=='ADMIN' || role=='USER'" class="custom-button" routerLink="/components/custser/nuevo">Registrar nuevo</button>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.idcs }}</td>
        </ng-container>
        <ng-container matColumnDef="clientes">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="servicio">
          <th mat-header-cell *matHeaderCellDef>Tipo de servicio</th>
          <td mat-cell *matCellDef="let element">{{ element.services.service }}</td>
        </ng-container>
        <ng-container matColumnDef="fechainicio">
          <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
          <td mat-cell *matCellDef="let element">{{ element.fechainicio | date : "dd/MM/yyyy" }}</td>
        </ng-container>
        <ng-container matColumnDef="fechafin">
          <th mat-header-cell *matHeaderCellDef>Fecha de pagos</th>
          <td mat-cell *matCellDef="let element">{{ element.fechafin | date : "dd/MM/yyyy" }}</td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado de la cuenta</th>
          <td mat-cell *matCellDef="let element" [ngClass]="getEstadoClass(element)">
            {{ element.estado }}
          </td>
        </ng-container>
        <ng-container matColumnDef="socio">
          <th mat-header-cell *matHeaderCellDef>Socio</th>
          <td mat-cell *matCellDef="let element">{{ element.socio.name }}</td>
        </ng-container>
        <ng-container matColumnDef="cambiarEstado">
          <th mat-header-cell *matHeaderCellDef>Cambiar</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="cambiarEstado(element)" class="custom-button rounded-button renew-button">Renovar</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <button [routerLink]="['ediciones', element.idcs]" matRipple="false" class="custom-button rounded-button">
              <mat-icon class="custom-icon">create</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="eliminar(element.idcs)" matRipple="false" class="custom-delete-button ">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="getRowClass(row)"></tr>
      </table>
    </div>
  </div>
  <br><br>
</body>
</html>
