/* Modo PC */
.notification-container {
  background-color: #f4f4f4;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 850px;
  max-height: 700px;
  overflow-y: auto; /* Permitir solo el scroll vertical */
  overflow-x: hidden; /* Bloquear el scroll horizontal */
  padding: 0;
  margin: 30px auto;
}

.notification-container h2 {
  font-size: 24px;
  margin: 0;
  padding: 20px;
  color: #333;
  background-color: #ffffff;
  border-radius: 15px 15px 0 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notification-item {
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
  background-color: #ffffff;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -10px -10px 0px 0px #f4f4f4;
  cursor: pointer;
  border-left: 5px solid #2c3e50;
  transition: box-shadow 0.3s ease, transform 0.2s;
}

.notification-item:hover {
  box-shadow: -10px -10px 0px 0px #fff;
  transform: translateX(10px);
}

.notification-message {
  font-size: 18px;
  color: #444;
  flex-grow: 1;
  margin-right: 10px;
}

.notification-timestamp {
  font-size: 16px;
  color: #888;
  white-space: nowrap;
}

/* Responsive: Pantallas medianas */
@media (max-width: 768px) {
  .notification-container {
    width: 90%;
    max-height: 500px;
    overflow-y: auto; /* Permitir solo el scroll vertical */
    overflow-x: hidden; /* Bloquear el scroll horizontal */
  }

  .notification-container h2 {
    font-size: 22px;
    padding: 15px;
  }

  .notification-item {
    padding: 15px;
    margin: 15px 5px;
    border-left: 4px solid #2c3e50;
  }

  .notification-message {
    font-size: 15px;
  }

  .notification-timestamp {
    font-size: 13px;
  }
}

/* Responsive: Pantallas pequeñas */
@media (max-width: 480px) {
  .notification-container {
    width: 100%;
    max-height: 400px;
    overflow-y: auto; /* Permitir solo el scroll vertical */
    overflow-x: hidden; /* Bloquear el scroll horizontal */
  }

  .notification-container h2 {
    font-size: 20px;
    padding: 12px;
  }

  .notification-item {
    padding: 12px;
    margin: 10px 5px;
    border-left: 3px solid #2c3e50;
  }

  .notification-message {
    font-size: 14px;
  }

  .notification-timestamp {
    font-size: 12px;
  }
}
