<div class="wrapper">
  <div class="form-container">
    <div class="close-button" (click)="cancel()">×</div>
    <h2>Restablecer Contraseña</h2>
    <div class="form-content">
      <div class="form-section">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="form-field">
            <label for="code">Código de Verificación:</label>
            <input id="code" formControlName="code" type="text" required />
            <div *ngIf="resetForm.get('code')?.invalid && resetForm.get('code')?.touched">
              <p>El código debe tener 6 dígitos.</p>
            </div>
          </div>
          <div class="form-field">
            <label for="newPassword">Nueva Contraseña:</label>
            <input id="newPassword" formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'" required />
            <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
              <p>La contraseña debe tener al menos 6 caracteres.</p>
            </div>
          </div>
          <div class="form-field">
            <label for="confirmPassword">Confirmar Contraseña:</label>
            <input id="confirmPassword" formControlName="confirmPassword" [type]="hidePassword ? 'password' : 'text'" required />
            <div *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched">
              <p>La confirmación de la contraseña es obligatoria.</p>
            </div>
            <div *ngIf="passwordMismatch">
              <p>Las contraseñas no coinciden.</p>
            </div>
          </div>
          <div class="form-field">
            <span class="toggle-password" (click)="togglePasswordVisibility()">
              {{ hidePassword ? 'Mostrar' : 'Ocultar' }}
            </span>
          </div>
          <button type="submit" [disabled]="resetForm.invalid || !email || passwordMismatch">Restablecer Contraseña</button>
        </form>
        <div *ngIf="message" class="success">
          {{ message }}
        </div>
        <div *ngIf="errorMessage" class="error">
          {{ errorMessage }}
        </div>
      </div>
      <div class="help-container">
        <h3>¿Necesitas ayuda?</h3>
        <p>Si tienes problemas para restablecer tu contraseña, puedes:</p>
        <ul>
          <li>Enviar un correo a <a href="mailto:contacto.rentala&#64;gmail.com">contacto.rentala&#64;gmail.com</a></li>
        </ul>
        <img src="assets/ayuda.png" alt="Ayuda para restablecer contraseña" class="help-image" />
      </div>
    </div>
  </div>
</div>
