<h2>Restablecer Contraseña</h2>
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="newPassword">Nueva Contraseña:</label>
    <input id="newPassword" formControlName="newPassword" type="password" required>
  </div>
  <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
    <p>La contraseña debe tener al menos 6 caracteres.</p>
  </div>
  <button type="submit" [disabled]="resetForm.invalid || !token">Restablecer Contraseña</button>
</form>

<div *ngIf="message" class="success">
  {{ message }}
</div>

<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>
