.servicios-overview-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color);
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.header h2 {
  margin: 0;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.header input {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 16px;
}

.no-data-container {
  text-align: center;
  padding: 50px;
}

.no-data-text {
  font-size: 18px;
  color: var(--tertiary-color);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.koala-image {
  width: 300px;
  height: auto;
}

.servicios-list-container {
  flex: 1;
}

.servicios-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.servicio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  border: 1px solid var(--highlight-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.servicio-item:hover {
  transform: scale(1.02);
}

.servicio-info {
  flex-grow: 1;
}

.servicio-info h2 {
  margin: 0 0 5px;
}

.servicio-info p {
  margin: 2px 0;
}

.servicio-actions {
  display: flex;
  gap: 10px;
}

.action-button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.pagination-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.pagination-controls span {
  font-size: 16px;
  margin: 0 10px;
}

.pagination-controls button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-controls button:disabled {
  background-color: var(--tertiary-color);
  color: var(--neutral-color);
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: var(--background-color);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header input {
    width: 100%;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .pagination-controls {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .servicio-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .servicio-info h2,
  .servicio-info p {
    margin: 0;
    font-size: 14px;
  }

  .servicio-actions {
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  .action-button {
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
  }

  .koala-image {
    display: none;
  }

  .no-data-container img {
    width: 80%;
  }
}
