<div class="back-button" (click)="goBack()" style="margin: 15px;">
  <span class="material-icons">arrow_back</span>
  <span>Volver</span>
</div>

<div class="container">
  <div class="tabs">
    <div class="tab" [ngClass]="{'active': activeTab === 'mensajes'}" (click)="setActiveTab('mensajes')">
      Mensajes
    </div>
    <div class="tab" [ngClass]="{'active': activeTab === 'formulario'}" (click)="setActiveTab('formulario')">
      Crear nuevo
    </div>
  </div>

  <div class="tab-content" [ngClass]="{'active': activeTab === 'mensajes'}">
    <div class="content-wrapper">
      <div *ngIf="mensajes && mensajes.length > 0; else noDataTemplate">
        <div class="accordion">
          <span><h2>Mensajes Guardados</h2></span>
          <div class="accordion-item" *ngFor="let mensaje of mensajes; let i = index" (click)="toggleAccordion(i)">
            <div class="accordion-header">
              {{ mensaje.titulo }}
            </div>
            <div class="accordion-content">
              <p [innerHTML]="formatMessage(mensaje.message, true)"></p>
              <div class="action-buttons">
                <button (click)="editarMensaje(mensaje)" class="btn btn-warning btn-sm">Editar</button>
                <button (click)="eliminarMensaje(mensaje.id)" class="btn btn-danger btn-sm">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noDataTemplate>
        <div class="no-data-message">
          <p>Aun no has creado ningun mensaje personalizado.</p>
        </div>
      </ng-template>
      <div class="mascot-container">
        <img src="assets/mensajes.png" alt="Mascota usando teléfono" class="mascot-img">
      </div>
    </div>
  </div>

  <div class="tab-content" [ngClass]="{'active': activeTab === 'formulario'}">
    <div class="col-md-12">
      <form [formGroup]="mensajeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="titulo">Título del Mensaje</label>
          <input 
            id="titulo" 
            formControlName="titulo" 
            class="form-control" 
            placeholder="Escribe el título del mensaje..." 
            required 
          />
          <div 
            *ngIf="mensajeForm.get('titulo')?.invalid && (mensajeForm.get('titulo')?.touched || mensajeForm.get('titulo')?.dirty)" 
            class="text-danger">
            El título es requerido.
          </div>
        </div>

        <div class="form-group">
          <label for="messageContent">Estructura del Mensaje</label>
          <div 
            id="messageContent" 
            contenteditable="true" 
            class="form-control message-content"
            placeholder="Escribe aquí tu mensaje..." 
            (input)="actualizarContador()">
          </div>
          <div class="action-buttons">
            <button type="button" class="btn btn-link" (click)="limpiarMensaje()">Limpiar Mensaje</button>
            <span id="charCount" class="char-count">0/250 caracteres</span>
          </div>
          <div 
            *ngIf="mensajeForm.get('message')?.invalid && (mensajeForm.get('message')?.touched || mensajeForm.get('message')?.dirty)" 
            class="text-danger">
            El mensaje es requerido.
          </div>
        </div>

        <div class="form-group chip-group-wrapper">
          <label style="padding: 10px;" for="variables">Agregar Variables</label>
          <div class="chip-group">
            <span 
              *ngFor="let variable of getVariablesDisponibles()" 
              class="chip" 
              (click)="agregarVariable(variable.key)">
              {{ variable.value }}
            </span>
          </div>
        </div>

        <div class="section-button" style="gap: 15px; display: flex; justify-content: center; padding: 15px;">
          <button type="submit" class="btn btn-primary">
            {{ editMode ? 'Actualizar' : 'Guardar' }}
          </button>
          <button 
            type="button" 
            *ngIf="editMode" 
            class="btn btn-secondary" 
            (click)="cancelEdit()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
