<app-toolbar></app-toolbar>
<div class="container">
  <h2>Enviar Notificación</h2>
  <div>
    <input type="text" #notificationMessageInput placeholder="Mensaje de la notificación" class="input-notification"/>
    <button (click)="sendNotification(notificationMessageInput.value, [])">Enviar a Todos</button>
  </div>
  
  <div class="table-controls">
    <input type="text" placeholder="Buscar..." (input)="filterUsers($event)" class="input-busqueda"/>
    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
  </div>
  
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de Usuario</th>
        <th>Nombre</th>
        <th>Nombre de la Empresa</th>
        <th>Roles</th>
        <th>Habilitado</th>
        <th>Acciones</th>
        <th>Enviar Notificación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.companyName }}</td>
        <td>{{ getRoles(user) }}</td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="user.enabled" (change)="toggleUserStatus(user)">
            <span class="slider"></span>
          </label>
        </td>
        <td>
          <div class="buttons">
            <button (click)="editUser(user)" class="custom-button">
              <mat-icon>create</mat-icon>
            </button>
            <button (click)="deleteUser(user.id)" class="custom-delete-button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
        <td>
          <button (click)="sendNotification(notificationMessageInput.value, [user.id])">Enviar</button>
        </td>
      </tr>
    </tbody>
  </table>  
</div>

<div class="overlay" *ngIf="showNotification"></div>

<app-creayeditaadministracion
  *ngIf="editingUser"
  [user]="editingUser"
  (save)="updateUser($event)"
  (cancel)="cancelEdit()">
</app-creayeditaadministracion>

<app-notificationadministracion
  *ngIf="showNotification"
  [message]="notificationMessage"
  (confirm)="confirmAction()"
  (cancel)="cancelAction()">
</app-notificationadministracion>
