<div class="notification-button-container">
  <button 
    class="toolbar-button toolbar-notification-button" 
    [ngClass]="{'swing': unreadCount > 0}"
    (click)="markAllNotificationsAsRead()" 
    routerLink="/components/notifications">
    <img style="width: 70%; height: auto;" src="assets/campana.png" alt="">
    <span *ngIf="unreadCount > 0" class="notification-count">{{ unreadCount }}</span>
  </button>
</div>

<div class="back-button-container" *ngIf="showBackButton" [ngClass]="{'sidenav-open': isSidenavOpen, 'sidenav-closed': !isSidenavOpen}">
  <button class="toolbar-back toolbar-back-button" (click)="goBack()">
    <img style="width: 70%; height: auto;" src="assets/volver.png" alt="">
  </button>
</div>
