@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toolbar {
  background: linear-gradient(135deg, #1f2e3d, #2980b9); /* Usando los colores azul oscuro y azul */
  color: #ecf0f1; /* Blanco */
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Negro claro */
  width: 100%;
  z-index: 5;
}

.toolbar-title {
  font-size: 1.5em;
  font-weight: bold;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
}

.toolbar-button {
  background-color: transparent;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Negro claro */
  transition: transform 0.3s, box-shadow 0.3s;
}

.toolbar-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Negro claro */
}

.toolbar-icon {
  font-size: 25px;
  color: #ecf0f1; /* Blanco */
  transition: color 0.3s;
}

.toolbar-button:hover .toolbar-icon {
  color: #34495e; /* Gris oscuro */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.9); /* Blanco con transparencia */
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Negro claro */
  border-radius: 8px;
  z-index: 10;
  padding: 10px 0;
}

.dropdown-content::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 20px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
}

.dropdown-content a, .submenu > a {
  color: #34495e; /* Gris oscuro */
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-content a mat-icon, .submenu > a mat-icon {
  margin-right: 10px;
}

.dropdown-content a:hover, .submenu > a:hover {
  background-color: rgba(236, 240, 241, 0.5); /* Gris claro */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-icon {
  color: #34495e; /* Gris oscuro */
}

/* Submenu styles */
.submenu {
  position: relative;
}

.submenu-content {
  display: none;
  position: absolute;
  left: -52%; /* Posicionar al lado del elemento padre */
  top: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Blanco con transparencia */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Negro claro */
  border-radius: 8px;
  z-index: 10;
  padding: 10px 0;
  width: auto; /* Ajuste para que el submenu ocupe el espacio adecuado */
  white-space: nowrap; /* Para que el texto no se envuelva */
}

.submenu-content a {
  padding: 10px 20px;
}

.submenu:hover .submenu-content {
  display: block;
}

@media (max-width: 600px) {
  .toolbar-title {
    font-size: 1.2em;
  }
  
  .toolbar-button {
    margin: 0 5px;
    width: 30px;
    height: 30px;
  }
  
  .toolbar-icon {
    font-size: 20px;
  }

  .dropdown-content {
    right: 0;
    left: auto;
    top: 50px;
    width: calc(100% - 20px); /* Ajuste para que el dropdown ocupe casi todo el ancho de la pantalla */
  }

  .submenu-content {
    left: -52%; /* Ajuste para que el submenu aparezca al lado izquierdo */
    right: auto;
    top: 0;
    width: auto; /* Ajuste para que el submenu ocupe el espacio adecuado */
    background-color: rgba(255, 255, 255, 0.9); /* Blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Negro claro */
    border-radius: 8px;
    z-index: 10;
    padding: 10px 0;
    white-space: nowrap; /* Para que el texto no se envuelva */
  }
}
