<div class="wrapper">
  <div class="form-container">
    <h2>Recuperar Contraseña</h2>
    <div class="close-button" (click)="cancel()">×</div>
    <div class="form-content">
      <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="form-column">
        <div class="form-field">
          <label for="email">Correo Electrónico:</label>
          <input id="email" formControlName="email" type="email" required />
          <div *ngIf="requestForm.get('email')?.invalid && requestForm.get('email')?.touched">
            <p>Por favor, ingresa un correo electrónico válido.</p>
          </div>
        </div>
        <button type="submit" [disabled]="requestForm.invalid || isSubmitting">Enviar</button>

        <div *ngIf="message" class="success">
          {{ message }}
        </div>

        <div *ngIf="errorMessage" class="error">
          {{ errorMessage }}
        </div>
      </form>

      <div class="instructions-column">
        <h3>¿Cómo funciona?</h3>
        <ol>
          <li>Ingresa tu correo electrónico en el formulario de la izquierda.</li>
          <li>Recibirás un código de verificación de 6 dígitos en tu correo.</li>
          <li>El código tiene una validez de 30 minutos.</li>
          <li>Ingresa el código recibido y tu nueva contraseña.</li>
          <li>Haz clic en "Guardar" para restablecer tu contraseña.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
