<div class="wrapper">
  <div class="form-container">
    <h2>Recuperar Contraseña</h2>
    <div class="close-button" (click)="cancel()">×</div>
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="email">Correo Electrónico:</label>
        <input id="email" formControlName="email" type="email" required />
        <div *ngIf="requestForm.get('email')?.invalid && requestForm.get('email')?.touched">
          <p>Por favor, ingresa un correo electrónico válido.</p>
        </div>
      </div>
      <button type="submit" [disabled]="requestForm.invalid">Enviar</button>
    </form>

    <div *ngIf="message" class="success">
      {{ message }}
    </div>

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  </div>
</div>
