<div *ngIf="socioCustomerService" class="listar-container-overlay">
  <div class="listar-container customer-overview-container">
    <div class="header">
      <h2>Clientes del socio: {{ socioCustomerService.name }}</h2>
      <div class="header-actions">
        <input type="text" placeholder="Buscar..." class="input-busqueda" [(ngModel)]="filters.name" (input)="applyFilters()">
      </div>
    </div>

    <div *ngIf="totalPages > 1" class="pagination-controls">
      <button class="action-button" (click)="previousPage()" [disabled]="currentPage === 1">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button class="action-button" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

    <div *ngIf="socioCustomerService.customerServices.length > 0; else noRecords" class="customer-list table-container">
      <div class="customer-item" *ngFor="let customerService of paginatedCustomerServices">
        <div class="customer-info">
          <h3>{{ customerService.name }}</h3>
          <p>Servicio: {{ customerService.services.service }}</p>
          <p>Descripción: {{ customerService.services.description }}</p>
          <p>Fecha Inicio: {{ customerService.fechainicio | date: 'MMM d, y' }}</p>
          <p>Fecha Fin: {{ customerService.fechafin | date: 'MMM d, y' }}</p>
          <p>Estado: {{ customerService.estado }}</p>
        </div>
      </div>
    </div>
    
    <ng-template #noRecords>
      <div class="no-data-container">
        <img src="assets/koala-triste.png" alt="No Data" class="no-data-image">
        <p class="no-data-text">Aún no hay registros</p>
      </div>
    </ng-template>
  </div>
</div>
