.container {
  max-width: 800px;
  margin: auto;
  padding-top: 20px; /* Añadir espacio arriba */
}

.header {
  text-align: center;
  color: #1A5276;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.filter-container {
  display: flex;
  justify-content: center; /* Centrar el select */
  align-items: center;
  margin-bottom: 20px;
}

.filter-container select {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: rgba(236, 240, 241, 0.5);
  margin-right: 10px;
  font-size: 16px;
  width: 250px;
  -webkit-appearance: none; /* Eliminar el estilo predeterminado en navegadores webkit */
  -moz-appearance: none; /* Eliminar el estilo predeterminado en Firefox */
  appearance: none; /* Eliminar el estilo predeterminado en otros navegadores */
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23000" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>') no-repeat right 10px center;
  background-size: 10px;
}

.filter-container select:focus {
  border-color: #1A5276;
  outline: none;
}

.filter-container input {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: rgba(236, 240, 241, 0.5);
  margin-right: 10px;
  font-size: 16px;
  width: 200px;
}

.table-container {
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.custom-table thead tr {
  background-color: #4CA1AF;
  color: white;
  text-align: center;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  text-align: center;
}

.custom-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.custom-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.custom-table tbody tr:last-of-type {
  border-bottom: 2px solid #4CA1AF;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginator button {
  margin: 0 5px;
}

.custom-button {
  background-color: #4CA1AF;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #1A5276;
}

.custom-button[disabled] {
  background-color: #ddd;
  cursor: not-allowed;
}

.no-records {
  text-align: center;
  font-size: 18px;
  color: #1A5276;
  margin-top: 20px;
}

.back-button {
  display: block;
  margin: 10px auto 20px auto; /* Ajustar margen */
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters input {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: rgba(236, 240, 241, 0.5);
  width: 18%;
}
