.listar-container-overlay {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color);
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.header h2 {
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-color);
  font-weight: 700;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-left: auto;
}

.input-busqueda {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 16px;
}

.no-data-container {
  text-align: center;
  padding: 50px;
}

.no-data-text {
  font-size: 18px;
  color: var(--tertiary-color);
}

.customer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customer-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  border: 1px solid var(--highlight-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  flex-wrap: nowrap;
}

.customer-item button {
  margin-right: 10px;
  margin-top: 0;
  flex-shrink: 0;
}

.customer-item button:last-child {
  margin-right: 0;
}

.customer-item:hover {
  transform: scale(1.02);
}

.koala-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 0;
}

.customer-info {
  flex-grow: 1;
  margin-bottom: 0;
}

.customer-info h3 {
  margin: 0 0 5px;
}

.customer-info p {
  margin: 2px 0;
}

.action-button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.button-outline-danger {
  border-color: var(--danger-color);
  color: var(--danger-color);
}

.button-outline-danger:hover {
  background-color: var(--danger-color);
  color: var(--background-color);
}

.back-button {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

.pagination-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.pagination-controls span {
  font-size: 16px;
  margin: 0 10px;
}

.pagination-controls button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-controls button:disabled {
  background-color: var(--tertiary-color);
  color: var(--neutral-color);
  cursor: not-allowed;
}

.pagination-controls button:not(:disabled):hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .input-busqueda {
    width: 100%;
    margin-top: 10px;
  }

  .customer-info {
    width: 100%;
    margin-top: 10px;
  }

  .customer-item {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .action-button {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .pagination-controls {
    justify-content: flex-end;
    gap: 5px;
  }

  .pagination-controls button {
    width: auto;
    padding: 8px 10px;
    font-size: 14px;
    flex-shrink: 0;
  }

  .pagination-controls span {
    font-size: 14px;
  }

  .customer-item button {
    width: 100%;
    margin-top: 5px;
    text-align: center;
  }
  
  .customer-item button:first-child {
    margin-top: 10px;
  }
  
  .customer-item button:last-child {
    margin-bottom: 10px;
  }
}
