<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
</head>
<body>
  <div class="toolbar" *ngIf="verificar()">
    <div class="toolbar-title"><p>{{ user.companyName }}</p></div>
    <div class="toolbar-buttons">
      <button class="toolbar-button" routerLink="/components/home">
        <mat-icon class="toolbar-icon">home</mat-icon>
      </button>
      <div class="dropdown">
        <button class="toolbar-button" (click)="toggleDropdown($event)">
          <mat-icon class="toolbar-icon">menu</mat-icon>
        </button>
        <div class="dropdown-content" (click)="preventClose($event)">
          <div class="submenu">
            <a (click)="preventClose($event)"><mat-icon class="dropdown-icon">group</mat-icon> Clientes</a>
            <div class="submenu-content">
              <a routerLink="/components/custser" (click)="closeDropdown()">Ver</a>
              <a routerLink="/components/custser/nuevo" (click)="closeDropdown()">Registrar</a>
            </div>
          </div>
          
          <div class="submenu">
            <a (click)="preventClose($event)"><mat-icon class="dropdown-icon">people_outline</mat-icon> Socios</a>
            <div class="submenu-content">
              <a routerLink="/components/socios" (click)="closeDropdown()">Ver</a>
              <a routerLink="/components/socios/nuevo" (click)="closeDropdown()">Registrar</a>
            </div>
          </div>

          <div class="submenu">
            <a (click)="preventClose($event)"><mat-icon class="dropdown-icon">movie</mat-icon> Plataformas</a>
            <div class="submenu-content">
              <a routerLink="/components/servicios" (click)="closeDropdown()">Ver</a>
              <a routerLink="/components/servicios/nuevo" (click)="closeDropdown()">Registrar</a>
            </div>
          </div>
          <a routerLink="/components/credentials" (click)="closeDropdown()"><mat-icon class="dropdown-icon">account_circle</mat-icon> Ver perfil</a>
          <a (click)="cerrar(); closeDropdown()"><mat-icon class="dropdown-icon">logout</mat-icon> Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
</html>
