:root {
    --primary-color: #2980b9;
    --secondary-color: #34495e;
    --tertiary-color: #7f8c8d;
    --highlight-color: #007bff;
    --highlight-color-hover: #13406f;
    --warning-color: #ff0000;
    --warning-color-hover: #d84343;
    --accent-color: #ff9f00;
    --neutral-color: #ecf0f1;
    --background-color: #ffffff;
    --text-color: #2c3e50;
    --border-color: #ccc;
    --success-color: #28a745;
    --warning-color-rgb: 255, 0, 0;
    --accent-color-rgb: 255, 159, 0;
    --success-color-rgb: 40, 167, 69;
    --success-hover-color: #18692b;
}


/* :root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --tertiary-color: #1abc9c;
    --highlight-color: #2980b9;
    --highlight-color-hover: #2471a3;
    --warning-color: #e74c3c;
    --warning-color-hover: #c0392b;
    --accent-color: #f1c40f;
    --neutral-color: #bdc3c7;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --border-color: #95a5a6;
    --warning-color-rgb: 231, 76, 60;
    --accent-color-rgb: 241, 196, 15;
} */
