body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

h2 {
  color: #2c3e50;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search-container {
  position: relative;
  width: 50%;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #ccc;
}

.input-busqueda {
  width: 100%;
  padding: 12px 20px 12px 40px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: rgba(236, 240, 241, 0.5);
  font-size: 16px;
}

.paginator-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mi-boton {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, transform 0.3s;
  white-space: nowrap;
}

.mi-boton:hover {
  background-color: #1f2e3d;
  transform: scale(1.05);
}

.paginator-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-select {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: rgba(236, 240, 241, 0.5);
  font-size: 16px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.custom-table th, .custom-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  color: #34495e;
  vertical-align: middle;
}

.custom-table th {
  background-color: #2980b9;
  color: white;
}

.custom-table tr:hover {
  background-color: #ddd;
}

.custom-button, .custom-delete-button {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-delete-button {
  background-color: #e74c3c;
}

.custom-button:hover, .custom-delete-button:hover {
  background-color: #1f2e3d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-delete-button:hover {
  background-color: #c0392b;
}

.custom-button mat-icon, .custom-delete-button mat-icon {
  font-size: 20px;
  color: white;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination-controls button {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-controls button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: #1f2e3d;
}

.pagination-controls span {
  line-height: 40px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .header-actions {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .paginator-actions {
    width: 100%;
    justify-content: space-between;
  }

  .mi-boton {
    width: auto;
  }

  .custom-table th, .custom-table td {
    padding: 8px;
    font-size: 14px;
  }

  .paginator-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .custom-select {
    width: auto;
    padding: 8px 12px;
    font-size: 14px;
  }
}
