<div class="listar-container-overlay" [class.sombreado]="mostrarFormularioRegistro">
  <div class="listar-container customer-overview-container">
    <div class="header">
      <button class="action-button back-button" (click)="goBack()">← Volver</button>
      <h2>Lista de Proveedores</h2>
      <div class="header-actions">
        <button class="action-button" (click)="addProveedor()">+ Añadir</button>
        <input type="text" placeholder="Buscar..." (keyup)="filter($event)" class="input-busqueda">
      </div>
    </div>

    <div *ngIf="totalPages > 1" class="pagination-controls">
      <button class="action-button" (click)="previousPage()" [disabled]="currentPage === 1">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button class="action-button" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

    <div *ngIf="paginatedData.length > 0; else noRecords" class="customer-list table-container">
      <div class="customer-item" *ngFor="let element of paginatedData">
        <div class="customer-info">
          <h3>{{ element.nombre }}</h3>
        </div>
        <button (click)="editarProveedor(element.proveedorId)" class="action-button">
          Editar
        </button>
        <button (click)="eliminar(element.proveedorId)" class="action-button button-outline-danger">
          Eliminar
        </button>
      </div>
    </div>

    <ng-template #noRecords>
      <div class="no-data-container">
        <img src="assets/koala-triste.png" alt="No Data" class="no-data-image">
        <p class="no-data-text">Aún no hay registros</p>
      </div>
    </ng-template>
  </div>
</div>
