<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div class="presentation-container">
        <h1>Gestión de Socios y Proveedores</h1>
        <hr class="divider">
        <div class="cards-container">
            <div class="card">
                <img src="assets/koalasocio.png" alt="Lista de Socios" class="card-image">
                <h2>Lista de Socios</h2>
                <button class="details-button" (click)="navigateToSocios()">Ver detalles</button>
            </div>
            <div class="card">
                <img src="assets/koalaproveedor.png" alt="Lista de Proveedores" class="card-image">
                <h2>Lista de Proveedores</h2>
                <button class="details-button" (click)="navigateToProveedores()">Ver detalles</button>
            </div>
        </div>
        <hr class="divider">
    </div>                        
</body>
</html>
