<div class="overlay" *ngIf="user"></div>
<div class="modal-container" *ngIf="user">
  <div class="modal-content">
    <h2>{{ user?.id ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
    <form (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="username">Nombre de Usuario:</label>
        <input id="username" class="input-text" [(ngModel)]="user!.username" name="username" required />
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <div class="password-container">
          <input id="password" class="input-text" [(ngModel)]="user!.password" name="password" [type]="showPassword ? 'text' : 'password'" required />
          <i (click)="togglePasswordVisibility()" class="eye-icon" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input id="name" class="input-text" [(ngModel)]="user!.name" name="name" required />
      </div>
      <div class="form-group">
        <label for="companyName">Nombre de la Empresa:</label>
        <input id="companyName" class="input-text" [(ngModel)]="user!.companyName" name="companyName" required />
      </div>
      <div class="form-group">
        <label for="enabled">Estado:</label>
        <span>{{ user!.enabled ? 'Usuario habilitado' : 'Usuario desactivado' }}</span>
      </div>
      <div class="form-group">
        <label for="roles">Roles:</label>
        <input id="roles" class="input-text" [(ngModel)]="user!.roles" name="roles" readonly />
      </div>
      <div class="form-buttons">
        <button type="submit" class="save-btn">Guardar</button>
        <button type="button" class="cancel-btn" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
