<div class="card-container">
    <div class="card">
      <div class="skip-intro">
        <a (click)="skipToEnd()">Omitir</a>
      </div>
      <div class="card-img-container">
        <img [src]="steps[currentStep].image" class="card-img-top" alt="{{ steps[currentStep].title }}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ steps[currentStep].title }}</h5>
        <p class="card-text">{{ steps[currentStep].content }}</p>
        <div class="navigation-buttons">
          <button class="btn btn-secondary" (click)="prevStep()" [disabled]="currentStep === 0">Volver</button>
          <button class="btn btn-primary" (click)="nextStep()" *ngIf="currentStep < steps.length - 1">Siguiente</button>
          <button class="btn btn-success" (click)="acceptAndFinish()" *ngIf="currentStep === steps.length - 1">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  