.card {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
}
  
.card-img-container {
    background-color: var(--neutral-color);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}
  
.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
  
.card-body {
    padding: 30px 20px;
}
  
.card-title {
    font-size: 26px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: bold;
}
  
.card-text {
    font-size: 18px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}
  
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
  
button {
    width: 45%;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:disabled {
    cursor: not-allowed;
    background-color: var(--tertiary-color);
}
  
.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}
  
.btn-primary:hover {
    background-color: var(--highlight-color);
}
  
.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--background-color);
}
  
.btn-secondary:hover {
    background-color: var(--highlight-color);
}
  
.btn-success {
    background-color: var(--success-color);
    color: var(--background-color);
}
  
.btn-success:hover {
    background-color: var(--success-hover-color);
}
  
.skip-intro {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}

.skip-intro a {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
}

.skip-intro a:hover {
    color: var(--highlight-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
