/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Estilos de la barra lateral */
.sidebar {
  background-color: #1f2e3d;
  color: #ecf0f1;
  width: 250px;
  height: 100vh;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 4;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.profile-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-section img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.profile-section p {
  font-weight: bold;
}

.profile-section .custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #2980b9;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #ecf0f1;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: #34495e;
}

.sidebar ul li a .material-icons {
  margin-right: 10px;
}

.sidebar-toggle {
  background-color: #34495e;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 250px;
  width: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: left 0.3s ease;
  transform: translateY(-50%);
}

.sidebar.collapsed + .sidebar-toggle {
  left: 0;
}

/* Estilos del contenido principal */
.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  width: 100%;
  margin-left: 250px;
}

.content.collapsed-content {
  margin-left: 0;
}

.header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
}

.header h1 {
  margin: 0;
  color: #34495e;
  font-weight: 700;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 65%;
}

.clients-section {
  width: 35%;
}

.report-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.report-card:hover {
  transform: translateY(-5px);
}

.report-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.report-icon {
  font-size: 40px;
  color: #2980b9;
  margin-right: 5px;
}

.report-card h2 {
  font-size: 40px;
  margin: 0;
  color: #2c3e50;
  font-weight: 700;
}

.report-card p {
  margin: 10px 0 0;
  font-size: 24px; /* Ajustar el tama침o de la fuente para que sea m치s grande */
  color: #7f8c8d;
  font-weight: 500;
  text-align: center; /* Centrar el texto */
}

.progress-bar-container {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  background-color: #ecf0f1;
  border-radius: 10px;
  height: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.progress {
  background-color: #2980b9; /* Mismo color que la barra de opciones */
  height: 100%;
  width: 0;
  transition: width 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Ajustar el tama침o de la fuente para que sea m치s grande */
  color: #2c3e50;
  font-weight: bold;
  margin-top: 10px;
}

.progress-info {
  margin-top: 10px;
  font-size: 16px;
  color: #2c3e50;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 12px 24px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #1f2e3d;
}

.pagination-controls button[disabled] {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.accordion-card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: transform 0.3s ease;
}

.accordion-card:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {

  .sidebar p{
    font-size: 80%;
  }

  .sidebar ul{
    padding-left: 10px;
  }

  .dashboard {
    flex-direction: column;
  }
  
  .dashboard-grid,
  .clients-section {
    width: 100%;
  }

  .content {
    margin-left: 0;
  }
  .sidebar-toggle {
    left: 0;
  }

}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 1.5em;
  }

  .report-card h2 {
    font-size: 1.5em;
  }

  .report-icon {
    font-size: 36px;
  }

  .sidebar {
    width: 200px;
  }

  .sidebar-toggle {
    left: 200px;
  }

  .content {
    width: calc(100% - 200px);
  }

  .content.collapsed-content {
    width: 100%;
  }
}
