.notification-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.notification-container p {
  margin-bottom: 20px;
  color: #2c3e50; /* Color del texto */
}

.notification-container button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px; /* Redondeado para coincidir con los botones */
  background-color: #2980b9; /* Azul */
  color: white;
  transition: background-color 0.3s ease, transform 0.3s;
}

.notification-container button.cancel-btn {
  background-color: #e74c3c; /* Rojo */
}

.notification-container button:hover {
  background-color: #1f2e3d; /* Azul oscuro */
  transform: scale(1.05); /* Pequeño zoom */
}

.notification-container button.cancel-btn:hover {
  background-color: #c0392b; /* Rojo oscuro */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

