<ng-container *ngIf="!error; else errorTemplate">
  <div class="profile-layout">
    <div class="side-bar">
      <img src="assets/icono-usuario.png" alt="Avatar" class="avatar">
      <div class="user-info">
        <h1>{{ user.name }}</h1>
        <p class="role">{{ user.roles.join(', ') }}</p>
        <p class="email">{{ user.username }}</p>
      </div>
    </div>
    <div class="main-content">
      <section class="user-details">
        <h2>Información Personal</h2>
        <div class="detail">
          <strong>Nombre:</strong>
          <p>{{ user.name }}</p>
        </div>
        <div class="detail">
          <strong>Nombre de la Empresa:</strong>
          <p>{{ user.companyName }}</p>
        </div>
        <div class="detail">
          <strong>Tipo de membresia:</strong>
          <p>{{ user.accountType }}</p>
        </div>
      </section>
      <div class="action-button">
        <button class="custom-button-cancel" (click)="cerrar()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #errorTemplate>
  <p>Error: {{ error }}</p>
</ng-template>
<ng-template #loading>
  <p>Cargando...</p>
</ng-template>
