<ng-container *ngIf="!error; else errorTemplate">
  <div class="profile-layout">
    <div class="side-bar">
      <img src="assets/icono-usuario.png" alt="Avatar" class="avatar">
      <div class="user-info">
        <h1>{{ user.name }}</h1>
        <p class="role">{{ user.roles.join(', ') }}</p>
        <p class="email">{{ user.username }}</p>
      </div>
    </div>
    <div class="main-content">
      <section class="user-details">
        <h2>Información Personal</h2>
        <div class="detail">
          <strong>Nombre:</strong>
          <p>{{ user.name }}</p>
        </div>
        <div class="detail">
          <strong>Numero de contacto:</strong>
          <p>{{ user.number }}</p>
        </div>
        <div class="detail">
          <strong>Nombre de la Empresa:</strong>
          <p>{{ user.companyName }}</p>
        </div>
        <div class="detail">
          <strong>Tipo de membresía:</strong>
          <p>
            <img *ngIf="user.accountType === 'PREMIUM'" src="assets/premium.png" alt="Premium" class="small-image">
            <img *ngIf="user.accountType === 'FREE'" src="assets/free.png" alt="Free" class="small-image">
          </p>
        </div>               
        <div class="detail">
          <strong>Fecha de registro:</strong>
          <p>{{ user.createdAt | date:'short' }}</p>
        </div>
        <div class="detail" *ngIf="user.accountType === 'PREMIUM'">
          <strong>Última fecha de pago:</strong>
          <p>
            {{ user.lastPaymentDate ? (user.lastPaymentDate | date:'short') : 'Aún no hay una fecha de pago confirmada' }}
          </p>
        </div>
        <div class="detail">
          <strong>Fecha de inicio de suscripción:</strong>
          <p>{{ user.subscriptionStartDate | date:'short' }}</p>
        </div>
        <div class="detail">
          <strong>Fecha fin de suscripción:</strong>
          <p>{{ user.subscriptionEndDate | date:'short' }}</p>
        </div>
        <div class="detail" >
          <strong>Duración de la suscripción:</strong>
          <p [ngClass]="subscriptionClass">{{ subscriptionDuration }}</p>
        </div>
      </section>
      <div class="action-button">
        <button *ngIf="user.accountType === 'PREMIUM'" class="custom-button-pay" (click)="VerPagos()">Ver mis pagos</button>
        <button *ngIf="user.accountType === 'PREMIUM'" class="custom-button-pay" (click)="irAPagar()">Pagar/Cancelar Deuda</button>
        <button class="custom-button-cancel" (click)="cerrar()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #errorTemplate>
  <p>Error: {{ error }}</p>
</ng-template>
<ng-template #loading>
  <p>Cargando...</p>
</ng-template>
