<ng-container *ngIf="!error; else errorTemplate">
  <div class="card-container">
    <img src="assets/icono-usuario.png" alt="Avatar" class="avatar">
    <h2>Tus credenciales:</h2>
    <strong>Nombre de usuario</strong><br>
    <p>{{ user.username }}</p>
    <strong>Nombre</strong><br>
    <p>{{ user.name }}</p>
    <strong>Nombre de la Empresa</strong><br>
    <p>{{ user.companyName }}</p>
    <strong>Rol</strong><br>
    <p>{{ user.roles.join(', ') }}</p>
    <div style="justify-content: center;">
      <button title="cerrar" class="custom-button-cancel" (click)="cerrar()">Cerrar sesión</button>
    </div>
  </div>
</ng-container>
<ng-template #errorTemplate>
  <p>Error: {{ error }}</p>
</ng-template>
<ng-template #loading>
  <p>Cargando...</p>
</ng-template>
