.body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

h2 {
  color: #2c3e50;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.mi-boton {
  background-color: #2980b9;
  color: #ecf0f1;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, transform 0.3s;
  white-space: nowrap;
}

.mi-boton:hover {
  background-color: #1f2e3d;
  transform: scale(1.05);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.user-icon {
  color: #ecf0f1;
  font-size: 50px;
  background-color: #2980b9;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.custom-delete-button {
  padding: 5px;
  background-color: #2980b9;
  color: #ecf0f1;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-delete-button {
  background-color: #e74c3c;
}

.custom-delete-button:hover {
  background-color: #1f2e3d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-delete-button:hover {
  background-color: #c0392b;
}

.custom-delete-button mat-icon {
  font-size: 20px;
  color: #ecf0f1;
}

.buttoncontainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100px;
}

.card h3 {
  margin: 0;
  font-size: 24px;
  color: #2c3e50;
}

.card p {
  margin: 0;
  font-size: 16px;
  color: #34495e;
}

.custom-button {
  background-color: #2980b9;
  color: #ecf0f1;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
  background-color: #1f2e3d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-button mat-icon {
  font-size: 20px;
  color: #ecf0f1;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .header-actions {
    flex-direction: column;
    align-items: center;
  }

  .cards-container {
    flex-direction: column;
    gap: 10px;
  }

  .card {
    width: calc(100% - 20px);
  }
}
