<app-toolbar></app-toolbar>
<div class="container">
  <h2>Clientes del Perfil</h2>
  <div class="header-actions">
    <button (click)="navigateToCrearCliente()" class="mi-boton">
      <mat-icon>add</mat-icon> Añadir Cliente
    </button>
  </div>
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Servicio</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Fin</th>
          <th>Estado</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.name }}</td>
          <td>{{ cliente.services.service }}</td>
          <td>{{ cliente.fechainicio | date: 'dd/MM/yyyy' }}</td>
          <td>{{ cliente.fechafin | date: 'dd/MM/yyyy' }}</td>
          <td>{{ cliente.estado }}</td>
          <td>
            <button (click)="navigateToEditarCliente(cliente.idcs)" class="custom-button">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
