<div class="container">
  <h2>Clientes del Perfil</h2>
  <div class="header-actions">
    <button (click)="navigateToPerfil()" class="mi-boton">
      <mat-icon>arrow_back</mat-icon> Volver al Perfil
    </button>
    <div class="search-container">
      <span class="search-icon"><mat-icon>search</mat-icon></span>
      <input matInput (keyup)="filter($event)" placeholder="Buscar" class="input-busqueda">
    </div>
    <button (click)="navigateToCrearCliente()" class="mi-boton">
      <mat-icon>add</mat-icon> Añadir Cliente
    </button>
  </div>
  <br>
  <div class="cards-container">
    <div class="card" *ngFor="let cliente of filteredClientes">
      <div class="card-content">
        <mat-icon class="user-icon">person</mat-icon>
        <h3>{{ cliente.name }}</h3>
        <p><strong>Servicio:</strong> {{ cliente.services.service }}</p>
        <p><strong>Fecha de Inicio:</strong> {{ cliente.fechainicio | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Fecha de Fin:</strong> {{ cliente.fechafin | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Estado:</strong> {{ cliente.estado }}</p>
        <p><strong>Número de Celular:</strong> {{ cliente.numerocelular }}</p>
        <div class="buttoncontainer">
          <button (click)="navigateToEditarCliente(cliente.idcs)" class="custom-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="eliminar(cliente.idcs)" class="custom-delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
