<div class="plan-selection-container">
  <div class="plan-card" [class.selected]="form.get('accountType')?.value === 'FREE'" (click)="selectPlan('FREE')">
    <button *ngIf="form.get('accountType')?.value === 'FREE'" class="close-btn" (click)="clearSelection($event)">&#10005;</button>
    <img src="assets/free.png" alt="Plan Gratuito" class="plan-icon">
    <h4>Plan Gratuito</h4>
    <strong><p class="price">S/. 0</p></strong>
    <ul>
      <li><i class="fas fa-user-lock"></i> Gestión limitada de proveedores</li>
      <li><i class="fas fa-users"></i> Gestión limitada de socios</li>
      <li><i class="fas fa-cogs"></i> Gestión limitada de servicios</li>
      <li><i class="fas fa-id-badge"></i> Gestión limitada de perfiles</li>
      <li><i class="fas fa-envelope"></i> Soporte básico por correo</li>
      <li><i class="fas fa-clock"></i> 15 días de prueba gratuita</li>
    </ul>
    <button *ngIf="form.get('accountType')?.value === 'FREE'" class="cta" (click)="onSubmit()">Registrar</button>
  </div>

  <div class="plan-card highlight" [class.selected]="form.get('accountType')?.value === 'PREMIUM'" (click)="selectPlan('PREMIUM')">
    <button *ngIf="form.get('accountType')?.value === 'PREMIUM'" class="close-btn" (click)="clearSelection($event)">&#10005;</button>
    <img src="assets/premium.png" alt="Pago Mensual" class="plan-icon">
    <h4>Pago Mensual</h4>
    <strong><p class="price">S/. 10 <span>/mes</span></p></strong>
    <ul>
      <li><i class="fas fa-user-shield"></i> Gestión completa de proveedores</li>
      <li><i class="fas fa-handshake"></i> Gestión completa de socios</li>
      <li><i class="fas fa-tools"></i> Gestión completa de servicios</li>
      <li><i class="fas fa-address-card"></i> Gestión completa de perfiles</li>
      <li><i class="fas fa-headset"></i> Soporte prioritario por correo y teléfono</li>
      <li><i class="fas fa-sync-alt"></i> Actualizaciones mensuales</li>
    </ul>
    <button *ngIf="form.get('accountType')?.value === 'PREMIUM'" class="cta" (click)="onSubmit()">Registrar</button>
  </div>
</div>
